name: Image build
on:
  push:
    tags:
      '*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Build release
        run: |
          echo "Building version: $RELEASE_VERSION"
          make build VERSION=$RELEASE_VERSION
